In [3]:
import pandas as pd
from google.colab import drive
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
drive.mount('/content/drive_share')

Mounted at /content/drive_share

In [4]:
mo = ['01']
fAll = []
dfAll = []
for m in mo:
    fAll.append(pd.read_csv('/content/drive_share/MyDrive/prjk_rsp/simak/simak_farmasi_21'+m+'.txt', sep = ",",header=None))
dfAll = pd.concat(fAll, ignore_index=True, axis=0)

In [18]:
dfAllH = dfAll[[7,13]][(dfAll[13] > 0)].drop_duplicates().groupby(by=[7]).count()
dfAllH[(dfAllH[13] > 1)]

              13
7
|02145712|     2
|0215300000|   2
|022919121|    2
|024200024|    2
|033245|       2
|09010155.8|   2
|1.010.252|    2
|101.03|       2
|101.042|      3
|101.066|      2
|1010249|      2
|2.010.035|    2
|2.100.003|    2
|2010108|      2
|261412021|    2
|302000001|    2
|45879.1|      2
|5.020.094|    2
|502.008|      2
|8.010.094|    2
|IP.005|       2
|SA.119|       2
|VT.012|       2

In [19]:
dfAll[(dfAll[7] == '|101.042|')]

                          0               1       2   ...       13  14   15
127   |024040100415448241KD|  |MASKER KARET|  |2021|  ...  1100.00 NaN  | |
134   |024040100415448241KD|  |MASKER KARET|  |2021|  ...  1100.00 NaN  | |
141   |024040100415448241KD|  |MASKER KARET|  |2021|  ...  1100.00 NaN  | |
165   |024040100415448241KD|  |MASKER KARET|  |2021|  ...  1100.00 NaN  | |
166   |024040100415448241KD|  |MASKER KARET|  |2021|  ...  1100.00 NaN  | |
175   |024040100415448241KD|  |MASKER KARET|  |2021|  ...  1100.00 NaN  | |
215   |024040100415448241KD|  |MASKER KARET|  |2021|  ...   752.40 NaN  | |
2457  |024040100415448241KD|  |MASKER KARET|  |2021|  ...      NaN NaN  | |
2602  |024040100415448241KD|  |MASKER KARET|  |2021|  ...      NaN NaN  | |
2822  |024040100415448241KD|  |MASKER KARET|  |2021|  ...      NaN NaN  | |
3182  |024040100415448241KD|  |MASKER KARET|  |2021|  ...   827.64 NaN  | |
3778  |024040100415448241KD|  |MASKER KARET|  |2021|  ...   827.64 NaN  | |

[12 rows x 16 columns]

In [ ]:
gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('rkp2021').worksheet('Sheet3')
rS07 = worksheet.get_all_values()

dfS07 = pd.DataFrame.from_records(rS07).iloc[1:]

In [ ]:
#dfS07[(pd.to_numeric(dfS07[8]) > 0)][[0,8]]
dfS07

In [ ]:
#(dfAll[((dfAll[3].str.contains('2021H')) | (dfAll[3].str.contains('2021I')) | (dfAll[3].str.contains('2021J'))) & ((dfAll[12].str.contains('\|K')))][[3,7,8,12]])
dfAll['kK'] = dfAll[7]+dfAll[6]
dfAllKS = ((dfAll.groupby(['kK'])).size().to_frame(name='ct').reset_index())
dfAllKS

                            kK  ct
0     |0.45271717||1010401006|  44
1            |0.A||1010401006|  10
2      |0001.1001||1010401006|   3
3      |0001.1002||1010401001|   3
4      |0001.1004||1010401006|   1
...                        ...  ..
3840      |ms1741||1010401002|  16
3841     |prod001||1010401001|  32
3842     |prod002||1010401001|  19
3843     |prod014||1010401001|  15
3844     |prod020||1010401001|   1

[3845 rows x 2 columns]

In [ ]:
(new[new[13] > 1])

              13  ct
7
|0.45271717|   2   2
|001.0020OC|   2   2
|00147|        2   2
|002.20116|    2   2
|002.21116|    2   2
...           ..  ..
|VT.957|       2   2
|VV.051|       2   2
|XS.001|       2   2
|prod001|      2   2
|prod002|      2   2

[958 rows x 2 columns]

In [ ]:
dfAll[dfAll[8] < 0]